@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --primary-color: hsl(233, 26%, 24%);
  --secondary-color: hsl(136, 65%, 51%);
  --cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-gray: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  color: var(--grayish-blue);
  line-height: 1.5;
  font-weight: 300;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: auto;

}

.btn-primary {
  display: inline-block;
  padding: 12px 28px;
  color: #fff;
  background-image: linear-gradient(to right, var(--secondary-color), var(--cyan));
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  opacity: 0.8;
}

/* Header Start*/
#home {
  background-color: var(--very-light-gray);
}

#home #navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#home #navbar .navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 20px 0;
  margin: auto;
}

#home #navbar .navbar-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home #navbar .navbar-content ul li a {
  margin: 0 10px;
  color: var(--grayish-blue);
  padding: 20px 0;
}

#home #navbar .navbar-content ul li a:hover {
  border-bottom: 4px solid var(--secondary-color);
}

#home .home-content .row {
  background-color: var(--very-light-gray);
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#home .home-content {
  position: relative;
}

#home .home-content .col-1 h1 {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
}

#home .home-content .col-1 p {
  margin: 2rem 0 2.5rem;
}

#home .home-content .col-2 {
  position: absolute;
  top: 0;
  right: 0;
  background: url("./images/bg-intro-desktop.svg") no-repeat;
  height: 100%;
}

#home .home-content .col-2 img {
  transform: translate(130px, -40px);
  width: 800px;
}

/* Header End */

/* About Start */
#about {
  background-color: var(--light-gray);
  padding: 6rem 0;
}

#about h2,
#articles h2 {
  font-weight: 300;
  font-size: 40px;
}

#about .container>p {
  margin-top: 1.5rem;
  font-size: 14px;
}

#about .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  margin-top: 4rem;
}

#about .row h3 {
  margin: 1.5rem 0;
  font-size: 25px;
  font-weight: 300;
}

/* About End */

/* Articles Start */
#articles {
  padding: 5rem 0;
  background-color: var(--very-light-gray);
}

#articles .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  margin-top: 4rem;
}

#articles .row .col {
  background: #fff;
}

#articles .row .col .col-content {
  padding: 1rem;
}

#articles .row .col .col-content h3 {
  font-weight: 300;
  margin: 12px 0;
  transition: all 0.2s ease;
  cursor: pointer;
}

#articles .row .col .col-content h3:hover {
  color: var(--secondary-color);
}

#articles .row .col .col-content .author {
  font-size: 14px;
}

#articles .row .col .col-content p {
  font-weight: 400;
  font-size: 16px;
}

#articles img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

/* Articles End */

/* Footer Start */
#footer {
  background-color: var(--primary-color);
  padding: 4rem 0;
}

#footer .row {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 1.5fr;
}

#footer .row .col-1>img {
  margin-bottom: 3rem;
  width: 180px;
}

#footer .row .col-1 .social a {
  margin-right: 15px;
}

#footer .row .col-1 .social img {
  width: 25px;
}

#footer .row .col-1 .social img:hover {
  color: var(--secondary-color);
}

#footer .row ul li {
  margin: 15px 0;
}

#footer .row ul li a {
  color: var(--light-gray);
  transition: all 0.3s ease;
}

#footer .row ul li a:hover {
  color: var(--secondary-color);
}

#footer .row .col-4 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#footer .row .col-4 p {
  margin-top: 1rem;
}

/* Footer End */